@keyframes moveInLeft {
  0% {
    transform: translateX(-30rem); }
  100% {
    transform: translateX(0); } }

@keyframes easeOutElastic {
  0% {
    transform: translateX(0%); }
  16% {
    transform: translateX(-132.27%); }
  28% {
    transform: translateX(-86.88%); }
  44% {
    transform: translateX(-104.63%); }
  59% {
    transform: translateX(-98.36%); }
  73% {
    transform: translateX(-100.58%); }
  88% {
    transform: translateX(-99.8%); }
  100% {
    transform: translateX(-100%); } }

.section-h2-header {
  display: inline-block;
  font-size: 5rem;
  margin-top: 18rem;
  margin-bottom: 3.5rem;
  background: linear-gradient(to left, #FFD700, #DAA520);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: all .3s; }
  .section-h2-header:hover {
    transform: rotate(-1.5deg); }

.backside-h3-header {
  color: #fff;
  font-size: 6rem;
  margin-top: 19rem;
  transform: rotate(-8deg); }

.section-paragraph {
  color: white;
  font-size: 2rem;
  margin-bottom: 5rem; }

html {
  font-size: 62.5%; }

body {
  -webkit-box-shadow: -11px 10px 24px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -11px 10px 24px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -11px 10px 24px 0px rgba(0, 0, 0, 0.75);
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  margin: 3rem; }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

a,
a:before,
a:after {
  text-decoration: none;
  color: inherit;
  cursor: pointer; }

.u-full-width {
  width: 100% !important; }

.u-75-width {
  width: 75% !important; }

.u-half-width {
  width: 50% !important; }

.u-margin-top-small {
  margin-top: 2rem !important; }

.u-margin-top-section {
  margin-top: -25vh !important; }

.larger-section-height {
  height: 150vh !important; }

.u-no-padding {
  padding: 0 !important; }

.contact-form {
  width: 50%;
  padding-top: 10rem;
  padding-left: 8rem;
  text-align: left; }
  .contact-form__box {
    width: 100%;
    height: 80%;
    margin-top: 5rem;
    background-position: right;
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../images/city-large-3.jpg); }
    .contact-form__box-header {
      margin-top: 0;
      font-size: 6rem; }
  .contact-form__group {
    margin-top: 3rem;
    display: block;
    clear: both; }
  .contact-form__input {
    width: 60%;
    height: 4rem;
    font-size: 1.5rem;
    padding-left: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.3); }
    .contact-form__input:focus {
      outline: none;
      border-bottom: 3px solid rgba(30, 123, 30, 0.8); }
    .contact-form__input:focus:invalid {
      border-bottom: 3px solid rgba(255, 69, 0, 0.8); }
    .contact-form__input::-webkit-input-placeholder {
      color: #202020; }
  .contact-form__label {
    display: none; }
  .contact-form__radio-group {
    position: relative;
    float: left; }
    .contact-form__radio-group:not(:first-child) {
      margin-left: 6rem; }
  .contact-form__radio-input {
    display: none; }
  .contact-form__radio-label {
    margin-left: 4rem; }
  .contact-form__radio-button {
    height: 3rem;
    width: 3rem;
    border: 4px solid #DAA520;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: -.5rem; }
    .contact-form__radio-button::after {
      content: "";
      display: block;
      height: 1.33rem;
      width: 1.33rem;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #DAA520;
      opacity: 0;
      transition: opacity .2s;
      backface-visibility: hidden; }
  .contact-form__radio-input:checked ~ .contact-form__radio-label .contact-form__radio-button::after {
    opacity: 1; }
  .contact-form__cta-button {
    margin-top: 5rem;
    border: none; }

.photo-card {
  -webkit-box-shadow: -11px 10px 24px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -11px 10px 24px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -11px 10px 24px 0px rgba(0, 0, 0, 0.75);
  overflow: hidden;
  border-radius: 3px;
  border-bottom: 4px solid #fff;
  transition: all .6s; }
  .photo-card:hover {
    border-bottom: 4px solid orangered; }
    .photo-card:hover ~ .photo-card__hover-message {
      transform: translateY(-23rem);
      opacity: 1;
      animation: ease-in;
      transition: all .6s;
      visibility: visible; }
  .photo-card__content {
    background-position: cover;
    opacity: 1;
    transition: all .6s; }
    .photo-card__content:hover {
      opacity: .6;
      transform: scale(1.25); }
  .photo-card__hover-message {
    color: orangered;
    font-size: 3rem;
    font-weight: 500;
    text-transform: uppercase;
    opacity: 0;
    animation: ease-out;
    transition: all .6s;
    visibility: hidden; }

.package-card {
  position: relative;
  overflow: hidden;
  backface-visibility: hidden;
  -moz-perspective: 150rem;
  perspective: 150rem;
  transition: all 1.2s ease; }
  .package-card__photo-container {
    overflow: hidden;
    margin: -.5rem auto;
    background-color: #fff; }
  .package-card__photo {
    width: 100%;
    opacity: 0.2; }
  .package-card__details {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    font-size: 3rem;
    font-weight: 500; }
  .package-card__text {
    list-style-type: none;
    line-height: 10rem;
    color: #202020; }
    .package-card__text li:not(:last-child) {
      border-bottom: 3px solid #000; }
  .package-card__title {
    font-size: 5rem; }
    .package-card__title--red {
      background: linear-gradient(to left, orangered, #992900);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent; }
    .package-card__title--green {
      background: linear-gradient(to left, #32CD32, #1e7b1e);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent; }
    .package-card__title--blue {
      background: linear-gradient(to left, #66b2ff, #007fff);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent; }
    .package-card__title--gold {
      background: linear-gradient(to left, #FFD700, #DAA520);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent; }
  .package-card__backside {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: all 1.2s ease;
    width: 100%;
    height: 100%; }
    .package-card__backside--orange {
      background: linear-gradient(to top right, orangered, #992900); }
    .package-card__backside--green {
      background: linear-gradient(to top right, #32CD32, #1e7b1e); }
    .package-card__backside--blue {
      background: linear-gradient(to top right, #66b2ff, #007fff); }
    .package-card__backside--gold {
      background: linear-gradient(to top right, #FFD700, #DAA520); }
  .package-card__frontside {
    overflow: hidden;
    transition: all 1.2s ease; }
  .package-card:hover .package-card__backside {
    transform: rotateY(0deg); }
  .package-card:hover .package-card__frontside {
    transform: rotateY(-180deg); }

.cta-button {
  -webkit-box-shadow: -11px 10px 24px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -11px 10px 24px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -11px 10px 24px 0px rgba(0, 0, 0, 0.75);
  display: inline-block;
  width: 20%;
  background-color: #fff;
  font-size: 3rem;
  color: #202020;
  border-radius: 50px;
  padding: 2rem;
  transition: all .3s; }
  .cta-button:hover {
    transform: scale(1.1);
    perspective: 1000;
    animation: ease-in;
    color: orangered;
    border: 3px solid orangered; }
  .cta-button:active {
    transform: scale(0.9);
    perspective: 1000;
    color: orangered;
    border: 3px solid orangered; }
  .cta-button__small {
    width: 60%;
    margin-top: 15rem; }

.navigation {
  -webkit-box-shadow: -11px 10px 24px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -11px 10px 24px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -11px 10px 24px 0px rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 5vh;
  right: 5vh;
  z-index: 20;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: #fff; }
  .navigation__burger {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55%;
    list-style-type: none; }
  .navigation__burger-lines {
    background-color: #202020;
    border-radius: 3px;
    height: .5rem;
    opacity: 0.8; }
    .navigation__burger-lines:not(:last-child) {
      margin-bottom: 1rem; }

.footer {
  position: relative;
  height: 50vh;
  background-color: #0e1111;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  padding: 0 5rem; }
  .footer__brand-logo {
    margin-top: 10rem;
    border: 3px solid #DAA520;
    border-radius: 25%;
    padding: 3rem;
    backface-visibility: hidden; }
    .footer__brand-logo:hover {
      transform: rotate(0deg); }
  .footer__links-list {
    width: 70%;
    margin-top: 8rem;
    text-align: left;
    list-style-type: none;
    border-top: 2px solid #DAA520;
    padding-top: 1rem;
    margin-right: -10rem; }
    .footer__links-list-item {
      float: left; }
      .footer__links-list-item:not(:first-child) {
        margin-left: 2rem; }
  .footer__description-text {
    width: 70%;
    margin-top: 8rem;
    margin-left: -10rem;
    border-top: 2px solid #DAA520;
    text-align: left;
    padding-top: 1rem;
    float: right; }

.gallery-photo {
  font-size: 0;
  margin: 0;
  padding: 0; }
  .gallery-photo__content {
    position: relative;
    width: 100%;
    opacity: .8;
    z-index: 3;
    transition: all .3s ease; }
    .gallery-photo__content:hover {
      transform: scale(1.05);
      opacity: 1;
      z-index: 5; }

.gallery-row {
  margin: 0 auto;
  content: "";
  clear: both;
  display: table; }
  .gallery-row [class^="gallery-col-"] {
    float: left;
    border: 1px solid #000; }
  .gallery-row .gallery-col-1-of-2 {
    max-width: 50%; }
  .gallery-row .gallery-col-1-of-3 {
    max-width: 33.33333%; }
  .gallery-row .gallery-col-1-of-4 {
    max-width: 25%; }

.row {
  margin: 0 auto;
  content: "";
  clear: both;
  display: table; }
  .row:not(:last-child) {
    margin-bottom: 3rem; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 2rem; }
  .row .col-1-of-2 {
    width: calc((100% - 2rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2rem * 2) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 2rem * 3) / 4); }

.header {
  position: relative;
  height: 95vh;
  overflow: hidden;
  text-align: center;
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }
  .header__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    background: linear-gradient(to left, #FFD700, #DAA520);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; }
  .header__heading {
    height: 100%;
    font-size: 8rem; }
  .header__subheading-text {
    font-size: 3rem;
    vertical-align: middle; }
  .header__video-bg {
    background-color: #000;
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%); }
    .header__video-bg-content {
      width: 100%;
      background-size: cover;
      z-index: 1;
      opacity: .8; }

.section {
  height: 95vh;
  background-color: #202020;
  text-align: center;
  padding: 0rem 15rem;
  padding-top: 7rem; }

.image-section {
  height: 145vh;
  clip-path: polygon(0% 20%, 100% 0%, 100% 100%, 0% 100%);
  margin-top: -37vh;
  background-image: linear-gradient(to right, rgba(255, 69, 0, 0.7), rgba(153, 41, 0, 0.7)), url(../images/city-large-1.jpg);
  text-align: center;
  padding: 0rem 15rem;
  padding-top: 10rem; }
