
@mixin basic-box-shadow {
    -webkit-box-shadow: -11px 10px 24px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -11px 10px 24px 0px rgba(0,0,0,0.75);
    box-shadow: -11px 10px 24px 0px rgba(0,0,0,0.75);
}

@mixin bottom-box-shadow {
    -webkit-box-shadow: 0px 17px 21px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 17px 21px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 17px 21px 0px rgba(0,0,0,0.75);
}