//COLOURS
$color-black: #000;
$color-light-black: #232b2b;
$color-dark-black: #0e1111;

$color-white: #fff;

$color-grey-light: #D3D3D3;
$color-grey-dark: #616161;
$color-grey-dark-2: #202020;

$color-orange-red: orangered;
$color-dark-orange-red: darken(orangered, 20%);

$color-blue: #66b2ff;
$color-dark-blue: darken(#66b2ff, 20%);

$color-green: #66ff66;
$color-dark-green: darken(#66ff66, 20%);

$color-light-gold: #FFD700;
$color-dark-gold: #DAA520;

//GRID SIZING

$grid-width: 80%;

$gutter-width: 2rem;
$gutter-height: 3rem;