
.package-card {
    //@include basic-box-shadow;

    position: relative;
    overflow: hidden;
    backface-visibility: hidden;
    -moz-perspective: 150rem;
    perspective: 150rem;

    transition: all 1.2s ease;

    @include respond(tab-land) {
        width: 50%;
        height: 40rem;
        margin: 0 auto;
    }

    &__photo-container {
        overflow: hidden;
        margin: -.5rem auto;
        background-color: $color-white;
    }

    &__photo {
        width: 100%;
        opacity: 0.2;
    }

    &__details {
        @include abscenter;

        width: 70%;
        font-size: 2.5rem;
        font-weight: 500;

        @include respond(desktop) {
            width: 60%;
            font-size: 2rem;
        }
    }

    &__text {
        list-style-type: none;
        line-height: 8rem;
        color: $color-grey-dark-2;

        @include respond(desktop) {
            line-height: 6rem;
        }

        li:not(:last-child) {
            border-bottom: 3px solid $color-black;
        }
    }

    &__title {
        font-size: 3.5rem;

        @include respond(desktop) {
            font-size: 3rem;
        }

        &--red {
            background: linear-gradient(to left, $color-orange-red, $color-dark-orange-red);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
        }
    
        &--green {
            background: linear-gradient(to left, $color-green, $color-dark-green);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
        }
    
        &--blue {
            background: linear-gradient(to left, $color-blue, $color-dark-blue);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
        }
    
        &--gold {
            background: linear-gradient(to left, $color-light-gold, $color-dark-gold);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
        }
    }

    &__backside {
        position: absolute;
        top: 0;
        left: 0;
        transform: rotateY(180deg);
        backface-visibility: hidden;
        transition: all 1.2s ease;
    
        width: 100%;
        height: 100%;

        &--orange {
            background: linear-gradient(to top right, $color-orange-red, $color-dark-orange-red);
        }

        &--green {
            background: linear-gradient(to top right, $color-green, $color-dark-green);
        }

        &--blue {
            background: linear-gradient(to top right, $color-blue, $color-dark-blue);
        }

        &--gold {
            background: linear-gradient(to top right, $color-light-gold, $color-dark-gold);
        }
    }

    &__frontside {
        overflow: hidden;
        transition: all 1.2s ease;
    }

    &:hover &__backside {
        transform: rotateY(0deg);
    }

    &:hover &__frontside {
        transform: rotateY(-180deg);
    }
}
