
html {
    font-size: 62.5%;

    @include respond(phone) { // width < 600
        font-size: 43.75%; // 1 rem - 7px, 7/16 = 43.75%
    }

    @include respond(tab-land) {  // width < 1200?
        font-size: 56.25%; // 1 rem - 9px, 9/16 = 56.25%
    }
    @include respond(tab-port) { // width < 900?
        font-size: 50%; // 1 rem - 8px, 8/16 = 50%
    }
    @include respond(desktop) { // width < 1600?
        font-size: 55%; // 1 rem - 12px, 12/16 = 75%
    }
}

body {
    @include basic-box-shadow;
    
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    margin: 3rem;

    @include respond(desktop) {
        margin: 0;
    }
}  

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a,
a:before,
a:after {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}