
@mixin abscenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin clearfix {
    content: "";
    clear: both;
    display: table;
}

.u-full-width {
    width: 100% !important;
}

.u-margin-top-small {
    margin-top: 2rem !important;
}

.u-margin-top-section {
    margin-top: -25vh !important;
}

.larger-section-height {
    height: 150vh !important;
}

.u-no-padding {
    padding: 0 !important;
}