
@mixin abscenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin clearfix {
    content: "";
    clear: both;
    display: table;
}

.u-full-width {
    width: 100% !important;
}

.u-75-width {
    width: 75% !important;
}

.u-half-width {
    width: 50% !important;
}

.u-margin-top-small {
    margin-top: 2rem !important;

    @include respond(tab-land) {
        margin-top: 6rem !important;
    }
}

.u-margin-top-section {
    margin-top: -25vh;

    @include respond(desktop) {
        margin-top: -42vh;
    }

    @include respond(tab-land) {
        margin-top: -54vh;
    }
}

.larger-section-height {
    height: 150vh !important;

    @include respond(tab-land) {
        height: 225vh !important;
    }
}

.u-no-padding {
    padding: 0 !important;
}
