
.image-section {
    height: 145vh;
    clip-path: polygon(0% 20%, 100% 0%, 100% 100%, 0% 100%);
    margin-top: -37vh;
    background-image: linear-gradient(to right,
                      rgba($color-orange-red, 0.7), 
                      rgba($color-dark-orange-red, 0.7)), 
                      url(../images/city-large-1.jpg);

    text-align: center;
    padding: 0rem 15rem;
    padding-top: 10rem;

    @include respond(desktop) {
        height: 105vh;
        padding-top: 4rem;
    }

    @include respond(tab-land) {
        height: 205vh;
        margin-top: -25rem;
        padding-top: 4rem;
        clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 100%);
        background-repeat: no-repeat;
        background-size: cover;
    }
}